---
import Container from "../components/Container.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import ClientGallery from "../components/ClientGallery.astro";
import CtaBanner from "../components/CtaBanner.astro";

const title = "Our Portfolio";
const desc = "";
const lightImage = "/page-header-light.webp";
const darkImage = "/page-header-dark.webp";
---

<BaseLayout title="Portfolio" description="Portfolio">
  <div class="dark:hidden">
    <PageHeader title={title} desc={desc} image={lightImage} />
  </div>
  <div class="hidden dark:block">
    <PageHeader title={title} desc={desc} image={darkImage} />
  </div>
  <Container>
    <ClientGallery />
  </Container>
  <CtaBanner />
</BaseLayout>
