---
import Container from "../components/Container.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import FaqAccordian from "../components/FaqAccordian.astro";
import ServicesMain from "../components/ServicesMain.astro";
import Pricing from "../components/Pricing.astro";
import CtaBanner from "../components/CtaBanner.astro";

const title = "Our Services";
const desc = "";
const lightImage = "/page-header-light.webp";
const darkImage = "/page-header-dark.webp";
---

<BaseLayout title="Services" description="Services">
  <div class="dark:hidden">
    <PageHeader title={title} desc={desc} image={lightImage} />
  </div>
  <div class="hidden dark:block">
    <PageHeader title={title} desc={desc} image={darkImage} />
  </div>
  <Container>
    <ServicesMain />
    <Pricing />
    <FaqAccordian />
  </Container>
  <CtaBanner />
</BaseLayout>
