---
import { Image } from "astro:assets";

const GalleryItems = [
  {
    title: "Amarillo NAACP",
    desc: "The official website for the Amarillo NAACP branch.",
    image: "/gallery-amarillo-naacp.webp",
    link: "https://www.amanaacp.org/",
  },
  {
    title: "Amarillo FNB Recipe Book",
    desc: "An online recipe repository for the Amarillo Food Not Bombs chapter.",
    image: "/gallery-amarillo-fnb.webp",
    link: "https://afnb-recipe-book.netlify.app/",
  },
  {
    title: "Panhandle People's Pantry",
    desc: "A website for a local food co-op and outreach program.",
    image: "/gallery-panhandlepeoplespantry.webp",
    link: "https://panhandlepeoplespantry.org/",
  },
  {
    title: "Fun & Gamez",
    desc: "A site for a local game shop that specializes in parties and tournaments.",
    image: "/gallery-funandgamez.png",
  },
  {
    title: "Noise, Inc.",
    desc: "Local Music venue collective focused on new, up and coming artists and bands.",
    image: "/gallery-noise.png",
  },

  {
    title: "My personal portfolio",
    desc: "My portfolio site is hand written using AstroJS, DaisyUI, and not much else.",
    image: "/gallery-portfolio.png",
    link: "https://android-hell.netlify.app/",
  },
];
---

<div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
  <div class="text prose">
    <span
      class="border-b-2 border-l-2 border-primary-500 pl-1 uppercase text-gray-500 dark:text-gray-200"
      >Portfolio</span
    >
    <h1
      class="my-4 text-3xl font-bold text-gray-600 dark:text-white sm:text-4xl"
    >
      See what we've <span class="text-primary-500">Created</span>
    </h1>
  </div>
  <div
    class="my-12 grid grid-cols-1 justify-items-center gap-4 sm:grid-cols-2 md:grid-cols-3"
  >
    {
      GalleryItems.map((item, index) => (
        <button
          data-modal-target={`gallery-modal-${index + 1}`}
          data-modal-toggle={`gallery-modal-${index + 1}`}
          class="flex max-w-sm transform flex-col bg-gray-50 shadow-xl transition-all duration-300 hover:shadow-2xl dark:bg-gray-700"
          type="button"
        >
          <Image
            src={item.image}
            width={900}
            height={600}
            format="webp"
            alt={item.title}
            class="h-full w-full"
          />
          <div class="flex-grow p-5">
            <h2 class="mb-2 font-bold tracking-tight text-gray-900 dark:text-white sm:text-lg lg:text-2xl">
              {item.title}
            </h2>
            <p class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-300 md:text-base">
              {item.desc}
            </p>
          </div>
        </button>
      ))
    }
  </div>

  <!-- modal madness -->
  <div>
    {
      GalleryItems.map((item, index) => (
        <div
          id={`gallery-modal-${index + 1}`}
          tabindex="-1"
          aria-hidden="true"
          class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
        >
          <div class="relative max-h-full w-full max-w-7xl p-4">
            {/* Modal content */}
            <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
              {/* Modal header */}
              <div class="flex items-center justify-between rounded-t border-b p-4 dark:border-gray-600 md:p-5">
                <h2 class="text-xl font-semibold text-gray-900 dark:text-white">
                  {item.title}
                </h2>
                <button
                  type="button"
                  class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
                  data-modal-hide={`gallery-modal-${index + 1}`}
                >
                  <svg
                    class="h-3 w-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 14"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                    />
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>
              {/* Modal body */}
              <div class="space-y-4">
                <Image
                  src={item.image}
                  width={900}
                  height={600}
                  format="webp"
                  alt={item.title}
                  class="h-full w-full"
                />
              </div>
              {/* Modal footer */}
              <div class="flex items-center rounded-b border-t border-gray-200 p-4 dark:border-gray-600 md:p-5">
                <p class=" font-normal text-gray-700 dark:text-gray-300">
                  {item.desc}
                </p>
                {item.link && (
                  <a
                    href={item.link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="ml-auto inline-flex items-center rounded-lg bg-primary-500 px-4 py-2 text-sm font-medium text-white hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-300 dark:focus:ring-primary-800"
                  >
                    Visit Site
                    <svg
                      class="ml-2 h-4 w-4"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 20 20"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 12H19M19 12L13 6M19 12L13 18"
                      />
                    </svg>
                  </a>
                )}
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
